{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>

    <head-placeholder token="{{ placeholder_token|raw }}">

    <title>{{ head_title|safe_join(' | ') }}</title>

    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">

    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/> 
    <meta name="author" content="author"/>

    <link rel="stylesheet" type="text/css" href="default.css" media="screen"/>

    <title>Dark Ritual</title>
</head>

<body{{ attributes }}>

    <div id="container" class="container">

        <div class="container-inner">
            {# page_top #}

            {{ page }}
        </div>
        <!--! end of .container-inner -->

        {% if page.footer %}
        {{ page.footer }}
        {% endif %}

        {# page_bottom #}

    </div>
    <!--! end of #container -->


    <!-- Grab Google CDN jQuery. fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>

    <script>
    window.jQuery || document.write("<script src='https://www.jamestarleton.com/js/libs/jquery-1.5.1.min.js'>\x3C/script>")
    </script>

    <script src="https://www.jamestarleton.com/js/plugins.js?v=1"></script>

    <script src="js/script.js?v=1"></script>

    <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
    <![endif]-->  

</body>
</html>